<div class="pt-10">
  <h3 class="product__accordion-title text-lg font-second-semibold">Why You'll Love It</h3>
  <div class="border-t border-b mt-4 pt-4 pb-6" style="border-color: #E0E0E0;">
    <ul style="list-style-type: disc; padding-left: 40px" class="flex flex-col gap-2">
      <li class="font-second text-md text-black">Strengthens roots and strands to help prevent breakage</li>
      <li class="font-second text-md text-black">Stimulates scalp circulation for healthier hair</li>
      <li class="font-second text-md text-black">Weightless hair and scalp hydration</li>
      <li class="font-second text-md text-black">For all hair and scalp types</li>
    </ul>
    <p class="font-second text-sm text-black mt-4">
      A multi-benefit pre-wash hair oil treatment that strengthens your roots, hydrates your scalp and strands and
      promotes healthier hair. Infused with Ashwagandha and Amla, this lightweight oil is formulated for all hair types,
      including color-treated hair. Best used with a relaxing head massage for the perfect oil and om.
    </p>
  </div>
</div>
