<script>
  document?.body?.classList?.add('template-journey');
</script>

<style>
  .page-hero {
    background-color: var(--page-hero-background-color);
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: 750px) {
    .page-hero {
      height: 473px;
    }
  }

  @media screen and (min-width: 1025px) {
    .page-hero {
      height: 555px;
    }
  }

  .template-journey .page-hero {
    height: auto;
    padding: 145px 0 155px;
  }

  @media screen and (min-width: 1025px) {
    .template-journey .page-hero {
      padding: 208px 0 218px;
    }
  }

  .b.page-hero__bg-image,
  .page-hero__bg-image-mobile {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .responsive-image__image {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .page-hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
  }
</style>

<div class="top-custom-px">
  <div class="page-hero">
    <div id="imageWrapper-22497701757122-" class="responsive-image__wrapper page-hero__bg-image-mobile large--hide">
      <picture>
        <source
          media="(min-width: 40em)"
          srcset="
            //fableandmane.com/cdn/shop/files/mobile-hero-j_1080x.png?v=1631564893 1080w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_1296x.png?v=1631564893 1296w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_1512x.png?v=1631564893 1512w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_1728x.png?v=1631564893 1728w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_1944x.png?v=1631564893 1944w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_2160x.png?v=1631564893 2160w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_2376x.png?v=1631564893 2376w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_2592x.png?v=1631564893 2592w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_2808x.png?v=1631564893 2808w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_3024x.png?v=1631564893 3024w,
          "
          alt=""
          loading="lazy"
        >

        <source
          srcset="
            //fableandmane.com/cdn/shop/files/mobile-hero-j_180x.png?v=1631564893 180w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_360x.png?v=1631564893 360w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_540x.png?v=1631564893 540w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_720x.png?v=1631564893 720w,


            //fableandmane.com/cdn/shop/files/mobile-hero-j_900x.png?v=1631564893 900w,
          "
          alt=""
          loading="lazy"
        >

        <img
          id="image-22497701757122-"
          class=" responsive-image__image"
          src="//fableandmane.com/cdn/shop/files/mobile-hero-j_small.png?v=1631564893"
          loading="lazy"
          decoding="async"
          width="1"
          height="1"
          alt=""
        >
      </picture>
    </div>

    <div id="imageWrapper-22497708540098-" class="responsive-image__wrapper page-hero__bg-image small--hide">
      <picture>
        <source
          media="(min-width: 40em)"
          srcset="
            //fableandmane.com/cdn/shop/files/journey-desktop_1080x.png?v=1631564942 1080w,


            //fableandmane.com/cdn/shop/files/journey-desktop_1296x.png?v=1631564942 1296w,


            //fableandmane.com/cdn/shop/files/journey-desktop_1512x.png?v=1631564942 1512w,


            //fableandmane.com/cdn/shop/files/journey-desktop_1728x.png?v=1631564942 1728w,


            //fableandmane.com/cdn/shop/files/journey-desktop_1944x.png?v=1631564942 1944w,


            //fableandmane.com/cdn/shop/files/journey-desktop_2160x.png?v=1631564942 2160w,


            //fableandmane.com/cdn/shop/files/journey-desktop_2376x.png?v=1631564942 2376w,


            //fableandmane.com/cdn/shop/files/journey-desktop_2592x.png?v=1631564942 2592w,


            //fableandmane.com/cdn/shop/files/journey-desktop_2808x.png?v=1631564942 2808w,


            //fableandmane.com/cdn/shop/files/journey-desktop_3024x.png?v=1631564942 3024w,
          "
          alt=""
          loading="lazy"
        >

        <source
          srcset="
            //fableandmane.com/cdn/shop/files/journey-desktop_180x.png?v=1631564942 180w,


            //fableandmane.com/cdn/shop/files/journey-desktop_360x.png?v=1631564942 360w,


            //fableandmane.com/cdn/shop/files/journey-desktop_540x.png?v=1631564942 540w,


            //fableandmane.com/cdn/shop/files/journey-desktop_720x.png?v=1631564942 720w,


            //fableandmane.com/cdn/shop/files/journey-desktop_900x.png?v=1631564942 900w,
          "
          alt=""
          loading="lazy"
        >

        <img
          id="image-22497708540098-"
          class=" responsive-image__image"
          src="//fableandmane.com/cdn/shop/files/journey-desktop_small.png?v=1631564942"
          loading="lazy"
          decoding="async"
          width="1"
          height="1"
          alt=""
        >
      </picture>
    </div>

    <div class="page-hero__wrapper wrapper">
      <div class="page-hero__content">
        <h1 class="text-4xl lg:text-8xl">Our Journey</h1>
      </div>
    </div>
  </div>
  <div
    class="py-10"
    style="background-image: url({{'founder-bg-desk_3024x.webp' |  asset_url}}); background-size: cover; background-position: center; background-repeat: no-repeat;"
  >
    <div>
      <h2 class="text-3xl lg:text-5xl text-center">Meet our founders</h2>
    </div>
    <div
      class="py-8 lg:py-16 flex-col lg:flex-row px-10 md:px-0 max-w-2xl flex justify-center mx-auto items-center gap-8 lg:gap-20"
    >
      <img
        class="w-1/2"
        src="https://fableandmane.com/cdn/shop/files/journey-desk_3024x.png?v=1631201844"
        alt=""
      >
      <div class="flex flex-col gap-10">
        <ul class="flex flex-col gap-2">
          <li>
            <h3 class="text-lg md:text-2xl">Akash Mehta</h3>
          </li>
          <li class="font-second text-sm">Akash is the CEO for Fable & Mane.</li>
          <li>
            <a href="/" style="font-style: italic; border-bottom: 1px solid #333;" class="font-second-semibold mt-4"
              >View Full Bio</a
            >
          </li>
        </ul>
        <ul class="flex flex-col gap-2 ">
          <li>
            <h3 class="text-lg md:text-2xl">Nikita Mehta</h3>
          </li>
          <li class="font-second text-sm">
            Nikita is the Creative Director, Storyteller & Product visionary behind Fable & Mane.
          </li>
          <li>
            <a href="/" style="font-style: italic; border-bottom: 1px solid #333;" class="font-second-semibold mt-4"
              >View Full Bio</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="bg-[var(--page-hero-background-color)] py-16">
    <div class="flex justify-center items-center max-w-2xl mx-auto gap-12 flex-col lg:flex-row px-10 md:px-0">
      <div class="w-full lg:w-1/2" style="flex-shrink: 0;">
        <h3 class="text-3xl lg:text-5xl text-white">It all started at the roots</h3>
      </div>
      <img
        src="https://fableandmane.com/cdn/shop/files/g-story-1_3024x.png?v=1631219426"
        class="w-full lg:w-1/2"
        alt=""
      >
    </div>
  </div>
</div>
