<style>
  .marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  .marquee-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
</style>
<div class="bg-[#f9423a] max-w-full overflow-hidden">
  <div class="marquee h-20 flex items-center">
    <div class="marquee-content text-white flex items-center gap-6 font-[SofiaPro-Regular]">
      {% for block in section.blocks %}
        <span class="block !font-[SofiaPro-Regular] !font-[400] text-xl whitespace-nowrap tracking-[.3em]">
          {{ block.settings.text }}
        </span>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Marquee text",
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Text item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "✨ I LET MY INNER LIGHT SHINE ✨"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Marquee text"
    }
  ]
}
{% endschema %}
