:root {
    --body-background-color        : #fff5ec;
    --font-second                  : SofiaPro-Regular, sans-serif;
    --font-second-semibold         : SofiaPro-SemiBold, sans-serif;
    --font-second-bold             : SofiaPro-Bold, sans-serif;
    --promobar-gradient-start-color: #f9423a;
    --promobar-gradient-end-color  : #f9423a;
    --promobar-text-color          : #ffffff;
    --font-first                   : QuincyCF-Regular, sans-serif;
    --page-hero-background-color   : #f9423a;
}

* {
    box-sizing: border-box;
}

.promobar {
    background: linear-gradient(var(--promobar-gradient-start-color), var(--promobar-gradient-end-color));
    color     : var(--promobar-text-color);
}

body {
    font-family: QuincyCF;
}

.top-custom-xl {
    top: calc(100% - 24px);
}

[data-sizing="form-wrapper"] button {
    border: 1px solid #333;
}

#render-ft-list-product-detail {
    display: none;
}

body {
    background-color: var(--body-background-color);
}

.font-second {
    font-family: SofiaPro-Regular;
}

.search-icon-mb {
    width : 20px;
    height: 20px;
}

.font-second-bold {
    font-family: SofiaPro-Bold;
}

.font-second-semibold {
    font-family: SofiaPro-SemiBold;
}

.font-first {
    font-family: QuincyCF-Regular;
}

.font-first-extrabold {
    font-family: QuincyCF;
}

.oke-reviewsTab {
    display: none !important;
}

.leaves {
    height        : 100%;
    left          : 0;
    pointer-events: none;
    position      : absolute;
    top           : 0;
    width         : 100%;
    z-index       : 0
}

.leaves>span {
    animation: leaf-rotate 4s ease-in-out infinite alternate;
    display  : block;
    position : absolute
}

.leaves svg {
    height        : auto;
    pointer-events: none;
    width         : 100%
}

.hero {
    background-color: var(--hero-background-color);
    display         : flex;
    flex-wrap       : wrap;
    overflow        : hidden;
    position        : relative
}

@media screen and (min-width: 750px) {
    .hero {
        height: 550px
    }
}

@media screen and (min-width: 1025px) {
    .hero {
        height: 779px
    }
}


.sparkles {
    height        : 100%;
    left          : 0;
    pointer-events: none;
    top           : 0;
    width         : 100%;
    z-index       : 0
}

.sparkles,
.sparkles>span {
    display : block;
    position: absolute
}

.sparkles>span {
    animation      : sparkling 1s ease-in-out infinite alternate;
    animation-delay: 0.3s;
}

.sparkles svg {
    display       : block;
    pointer-events: none
}

.sparkles svg path {
    fill: #000
}


.featured-content__leaves .leaf--1 {
    --leaf-rotate-start: 285deg;
    --leaf-rotate-end  : 290deg;
    left               : -19%;
    top                : -15%;
    transform          : rotate(285deg);
    width              : 201px
}

@media screen and (min-width: 425px) {
    .featured-content__leaves .leaf--1 {
        left: -10%;
        top : -10%
    }
}

@media screen and (min-width: 750px) {
    .featured-content__leaves .leaf--1 {
        top  : -20%;
        width: 300px
    }
}

@media screen and (min-width: 1025px) {
    .featured-content__leaves .leaf--1 {
        left     : -8%;
        top      : -25%;
        transform: rotate(285deg);
        width    : 386px
    }
}

@media screen and (min-width: 1400px) {
    .featured-content__leaves .leaf--1 {
        left: -5%;
        top : -22%
    }
}

@media screen and (min-width: 1600px) {
    .featured-content__leaves .leaf--1 {
        top  : -30%;
        width: 500px
    }
}

.featured-content__leaves .leaf--2 {
    bottom          : 23%;
    right           : -12%;
    transform-origin: bottom right;
    width           : 80px
}

@media screen and (min-width: 425px) {
    .featured-content__leaves .leaf--2 {
        right: -5%
    }
}

@media screen and (min-width: 750px) {
    .featured-content__leaves .leaf--2 {
        bottom: 41%
    }
}

@media screen and (min-width: 1025px) {
    .featured-content__leaves .leaf--2 {
        right: -6%;
        width: 176px
    }
}

@media screen and (min-width: 1400px) {
    .featured-content__leaves .leaf--2 {
        bottom: 41%;
        right : -6%;
        width : 176px
    }
}

@media screen and (min-width: 1600px) {
    .featured-content__leaves .leaf--2 {
        right: -2%
    }
}

.featured-content__leaves .leaf--3 {
    --leaf-rotate-start         : 110deg;
    --leaf-rotate-end           : 115deg;
    --leaf-additional-transforms: scaleY(-1);
    bottom                      : -10%;
    right                       : -11%;
    transform                   : scaleY(-1) rotate(110deg);
    width                       : 172px
}

@media screen and (min-width: 425px) {
    .featured-content__leaves .leaf--3 {
        right: -5%
    }
}

@media screen and (min-width: 750px) {
    .featured-content__leaves .leaf--3 {
        bottom: -20%;
        right : -10%;
        width : 250px
    }
}

@media screen and (min-width: 1025px) {
    .featured-content__leaves .leaf--3 {
        --leaf-rotate-start         : 116deg;
        --leaf-rotate-end           : 120deg;
        --leaf-additional-transforms: scaleY(-1);
        bottom                      : -38%;
        right                       : -6%;
        transform                   : scaleY(-1) rotate(116deg);
        width                       : 421px
    }
}

@media screen and (min-width: 1400px) {
    .featured-content__leaves .leaf--3 {
        bottom: -28%;
        right : -6%;
        width : 421px
    }
}

/* overwrite styles app subcription */
.sealsubs-target-element {
    font-family: var(--font-second) !important;
}

.hover-color {
    border: 1px solid transparent;
}

.hover-color:hover {
    border   : 1px solid #eee;
    transform: translateY(-2px);
}

.layout-three {
    width: calc(100% / 3);
}

.z-index-max {
    z-index: 999999999;
}

.z-index-md {
    z-index: 1000;
}

.btn {
    align-items        : center;
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    background-color   : #f9423a;
    border             : 0;
    border-radius      : 24px;
    color              : #000;
    cursor             : pointer;
    display            : inline-flex;
    font-family        : SofiaPro, helvetica, arial, sans-serif;
    font-size          : 1rem;
    height             : 50px;
    justify-content    : center;
    line-height        : 2.4rem;
    margin             : 0;
    font-weight        : 700;
    padding            : 0 var(--button-padding-x);
    text-align         : center;
    text-decoration    : none;
    text-transform     : uppercase;
    transition         : background-color .2s cubic-bezier(.46, .01, .32, 1);
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    vertical-align     : middle;
    white-space        : nowrap;
    width              : auto;
    border             : 1px solid #000;
    padding            : 10px 20px;
}


.top-custom-px {
    margin-top: 140px;
}

.top-custom-px-pd {
    padding-top: 140px;
}

#mobile-search-form {
    border-bottom: 1px solid #eee;
}

#mobile-search-form form {
    padding-top     : 60px;
    background-color: transparent;
}


#mobile-search-form form div {
    background-color: transparent;
    border          : transparent;
    box-shadow      : none;
}

#mobile-search-form form input {
    background-color: transparent;
    border          : transparent;
    outline         : none;
}

.center-menu-tab-unix li {
    width      : 32%;
    flex-shrink: 0;
}

.top-sticky-main-product {
    top: 140px;
}

#shopify-section-template--25329320034603__marquee_aGrBdz,
#shopify-section-template--25330398921003__discover_kAFtxC,
#shopify-section-template--25311387648299__marquee_aGrBdz {
    margin-top: 140px;
}


@media (max-width: 575.98px) {
    .site-header {
        padding-left : 10px;
        padding-right: 16px;
    }

    .top-sticky-main-product {
        top: 100px;
    }

    .center-menu-tab-unix li {
        width      : 49%;
        flex-shrink: 0;
    }

    .top-custom-px {
        margin-top: 115px;
    }

    .top-custom-px-pd {
        padding-top: 115px;
    }

    .product-media {
        position: unset !important;
    }

    #shopify-section-template--25329320034603__marquee_aGrBdz,
    #shopify-section-template--25330398921003__discover_kAFtxC,
    #shopify-section-template--25311387648299__marquee_aGrBdz {
        margin-top: 115px;
    }

    .mb-scroll-custom {
        width   : 100vw;
        overflow: auto;
    }

    [data-block-handle="reviews-widget"] {
        padding-left : 12px;
        padding-right: 12px;
    }

    .faq-container {
        gap: 0 !important;
    }

    .product-title * {
        font-family: var(--font-second-semibold);
    }

    .product-card {
        padding: 5px;
    }

    .small--hide {
        display: none !important
    }
}

.external-video iframe {
    width : 100% !important;
    height: 100% !important;
}

[data-block-handle="reviews-widget"] * {
    font-weight: var(--font-second) !important;
}

.main-media-item {
    border-radius: 2px;
    overflow     : hidden;
}

.cart-badge {
    align-items     : center;
    background-color: #f9423a;
    border-radius   : 50%;
    bottom          : -4px;
    color           : #fff;
    display         : flex;
    font-family     : SofiaPro-Bold, helvetica, arial, sans-serif;
    font-size       : 14px;
    height          : 18px;
    justify-content : center;
    line-height     : 1.8rem;
    padding-bottom  : 2px;
    position        : absolute;
    right           : -9px;
    text-align      : center;
    width           : 18px;
    padding         : 0;
}


.rte a,
.shopify-policy__body a {
    text-decoration: underline
}

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6,
.shopify-policy__body h1,
.shopify-policy__body h2,
.shopify-policy__body h3,
.shopify-policy__body h4,
.shopify-policy__body h5,
.shopify-policy__body h6 {
    margin: 0 0 26px
}

.rte h1:first-child,
.rte h2:first-child,
.rte h3:first-child,
.rte h4:first-child,
.rte h5:first-child,
.rte h6:first-child,
.shopify-policy__body h1:first-child,
.shopify-policy__body h2:first-child,
.shopify-policy__body h3:first-child,
.shopify-policy__body h4:first-child,
.shopify-policy__body h5:first-child,
.shopify-policy__body h6:first-child {
    margin-top: 0
}

.rte h1 a,
.rte h2 a,
.rte h3 a,
.rte h4 a,
.rte h5 a,
.rte h6 a,
.shopify-policy__body h1 a,
.shopify-policy__body h2 a,
.shopify-policy__body h3 a,
.shopify-policy__body h4 a,
.shopify-policy__body h5 a,
.shopify-policy__body h6 a {
    text-decoration: none
}

@media screen and (min-width:750px) {

    .rte h4,
    .shopify-policy__body h4 {
        font-family   : QuincyCF, helvetica, arial, sans-serif;
        font-size     : 3.2rem;
        letter-spacing: -.065rem;
        line-height   : 3.2rem
    }
}

.rte blockquote,
.shopify-policy__body blockquote {
    font-size : 1.8rem;
    font-style: italic;
    margin    : 0
}

.rte blockquote p,
.shopify-policy__body blockquote p {
    margin-bottom: 0
}

.rte blockquote cite,
.shopify-policy__body blockquote cite {
    display  : block;
    font-size: 1.2rem
}

.rte blockquote cite:before,
.shopify-policy__body blockquote cite:before {
    content: "— "
}

.rte blockquote,
.rte ol,
.rte p,
.rte ul,
.shopify-policy__body blockquote,
.shopify-policy__body ol,
.shopify-policy__body p,
.shopify-policy__body ul {
    font-family: var(--font-second);
    font-size  : 1.6rem;
    line-height: 2.2rem;
    margin     : 0 0 23px;
    width      : 102%
}

@media screen and (min-width:750px) {

    .rte blockquote,
    .rte ol,
    .rte p,
    .rte ul,
    .shopify-policy__body blockquote,
    .shopify-policy__body ol,
    .shopify-policy__body p,
    .shopify-policy__body ul {
        margin   : 0 auto 27px;
        max-width: 632px;
        width    : 100%
    }
}

.rte blockquote li,
.rte ol li,
.rte p li,
.rte ul li,
.shopify-policy__body blockquote li,
.shopify-policy__body ol li,
.shopify-policy__body p li,
.shopify-policy__body ul li {
    margin: 0 0 0 15px
}

.rte table,
.shopify-policy__body table {
    margin-bottom: 32px
}

.rte iframe,
.shopify-policy__body iframe {
    left     : 50%;
    margin   : 5px 0 52px !important;
    max-width: 632px !important;
    position : relative;
    transform: translateX(-50%);
    width    : 100%
}

@media screen and (min-width:750px) {

    .rte iframe,
    .shopify-policy__body iframe {
        margin: 50px 0 70px !important
    }
}

.rte img,
.shopify-policy__body img {
    margin: 10px auto 35px
}

@media screen and (min-width:750px) {

    .rte img,
    .shopify-policy__body img {
        margin: 60px auto 64px
    }
}

.rte * {
    font-family: var(--font-second)
}

.rte-table,
.rte__table-wrapper {
    -webkit-overflow-scrolling: touch;
    max-width                 : 100%;
    overflow                  : auto
}

.shopify-policy__container {
    max-width    : unset;
    max-width    : unset;
    padding-left : unset;
    padding-right: unset
}

.rte__video-wrapper {
    height        : 0;
    height        : auto;
    max-width     : 100%;
    overflow      : hidden;
    padding-bottom: 56.25%;
    position      : relative
}

.rte__video-wrapper iframe {
    height  : 100%;
    left    : 0;
    position: absolute;
    top     : 0;
    width   : 100%
}

table {
    border-collapse: collapse;
    border-spacing : 0;
    width          : 100%
}

th {
    padding: 8px 16px
}

td {
    padding: 16px
}

td,
th {
    border        : 1px solid #000;
    text-align    : left;
    vertical-align: baseline
}

td:first-of-type,
th:first-of-type {
    border-left : 0;
    padding-left: 0
}

td:last-of-type,
th:last-of-type {
    border-right: 0
}

tfoot td {
    padding: 8px 16px
}

@media only screen and (min-width:1025px) {
    .large--hide {
        display: none !important
    }
}

[data-oke-reviews-version] {
    padding-top: 10px;
}

[data-oke-reviews-version] * {
    font-family: var(--font-second-bold) !important;
}

.oke-w-reviewer-name {
    font-size: 18px;
}